<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    
    Welcome to {{ title }}!
    
  </h1>
  <h2>
  <a href="https://imgbb.com/"><img src="https://i.ibb.co/bPLRKDX/IMG-9171.png" alt="IMG-9171" border="0"></a>
   <nav>
      <a routerLink="/home">Home</a>
     <a routerLink="/drinks">Drinks</a>
     <a routerLink="/saved-ingredients">Saved Ingredients</a>
     <a routerLink="/saved-drinks">Saved Drinks</a>
  </nav>
  <router-outlet></router-outlet>
</h2>

 
 <h3> This is the footer</h3>
</div>


